/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #333333;
  --vt-c-black-soft: #666666;
  --vt-c-black-light: #999999;
  --vt-c-black-mute: #000000;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --el-loading-fullscreen-spinner-size: 30px;
    --el-loading-spinner-size: 30px;
    --el-color-primary: #2458b3;
    --el-color-primary-light-3: #2663b9;
    --el-color-primary-dark-2: #3f77c5;
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
    --section-padding: 16px;
    --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

a,
.green {
  text-decoration: none;
  color: var(--el-color-primary);
  transition: 0.4s;
}
svg {
    width: var(--el-loading-spinner-size);
    height: var(--el-loading-spinner-size);
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    overflow: hidden;
    clear: both;
}
.mr16 {
    margin-right: 16px;
}
body,ul, ol {
    margin: 0;
    padding: 0;
}
// @media (hover: hover) {
//   a:hover {
//     background-color: hsla(160, 100%, 37%, 0.2);
//   }
// }
html,body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::-webkit-input-placeholder {
    color: #cccccc !important;
  }
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cccccc !important;
  }
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cccccc !important;
  }
  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc !important;
  }
  
  //全新样式
  ::-webkit-scrollbar {
    width: 10px; /*滚动条宽度*/
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 3px; /*滚动条圆角*/
    -webkit-border-radius: 3px; /*兼容圆角属性*/
    background-color: #999; /*滚动条颜色*/
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; /*滚动条的背景颜色*/
  }
  .app-page-anchor {
    margin: 20px 0;
  }


.el-header {
    width: 100%;
    padding: 0;
    height: 60px;
    position: relative;
    z-index: 10;
    background-color: var(--vt-c-black-mute);
}
.el-table th.el-table__cell {
    background-color: var(--vt-c-white-soft);
    // font-size: 14px;
    padding: 10px 0;
    color: var(--vt-c-black);
    .cell {
        font-weight: bold;
    }
}
.el-loading-mask {
    position: absolute;
    z-index: 2000;
    background-color: var(--el-mask-color);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity var(--el-transition-duration);
}
.el-loading-mask.is-fullscreen {
    position: fixed;
}
.el-loading-spinner {
    top: 50%;
    margin-top: calc((0px - var(--el-loading-spinner-size)) / 2);
    width: 100%;
    text-align: center;
    position: absolute;
    svg {
        color: var(--el-color-primary);
        width: var(--el-loading-spinner-size);
        height: var(--el-loading-spinner-size);
        animation: loading-rotate 2s linear infinite;
        @keyframes loading-rotate {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
.el-drawer__header {
    padding: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--color-border);
}