@import './var.scss';

a,
.green {
  text-decoration: none;
  color: var(--el-color-primary);
  transition: 0.4s;
}
svg {
    width: var(--el-loading-spinner-size);
    height: var(--el-loading-spinner-size);
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
/*对齐，浮动*/
.tc {
    text-align: center;
  }
  .tr {
    text-align: right;
  }
  .tl {
    text-align: left;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .clearfix:before,
  .clearfix:after {
    content: '';
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  // 手势样式
  .pointer{
    cursor:pointer
  }
  /*文字超出隐藏*/
  /*文字超出隐藏*/
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ellipsisTwo {
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-box-orient: vertical;
  }
  .line-clamp1,
  .line-clamp2,
  .line-clamp3,
  .line-clamp4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .line-clamp1 {
    -webkit-line-clamp: 1;
  }
  .line-clamp2 {
    -webkit-line-clamp: 2;
  }
  .line-clamp3 {
    -webkit-line-clamp: 3;
  }
  .line-clamp4 {
    -webkit-line-clamp: 4;
  }
.mr16 {
    margin-right: 16px;
}
.mb16 {
    margin-bottom: 16px;
}
.mt16 {
    margin-top: 16px;
}
.flexbox-h {
    display: flex;
}
.flexbox-v {
    display: flex;
    flex-direction: column;
}
.align-c {
    align-items: center;
}
.just-c {
    justify-content: center;
}
.just-b {
    justify-content: space-between;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
body,ul, ol {
    margin: 0;
    padding: 0;
}
// @media (hover: hover) {
//   a:hover {
//     background-color: hsla(160, 100%, 37%, 0.2);
//   }
// }
html,body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::-webkit-input-placeholder {
    color: #cccccc !important;
  }
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cccccc !important;
  }
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cccccc !important;
  }
  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc !important;
  }
  
  //全新样式
  ::-webkit-scrollbar {
    width: 10px; /*滚动条宽度*/
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 3px; /*滚动条圆角*/
    -webkit-border-radius: 3px; /*兼容圆角属性*/
    background-color: #999; /*滚动条颜色*/
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; /*滚动条的背景颜色*/
  }
  .app-page-anchor {
    margin: 20px 0;
  }