/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-ccc: #cccccc;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
  
    --vt-c-black: #333333;
    --vt-c-black-soft: #666666;
    --vt-c-black-light: #999999;
    --vt-c-black-mute: #000000;
  
    --vt-c-indigo: #2c3e50;
  
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  }
  
  /* semantic color variables for this project */
  :root {
      --el-loading-fullscreen-spinner-size: 30px;
      --el-loading-spinner-size: 30px;
      --el-color-primary: #646cff;
      --el-color-primary-light-3: #858bfa;
      --el-color-primary-dark-2: #36385c;
      --el-color-primary-light-9: #f8f8f8;
      --el-menu-hover-bg-color: #f8f8f8;
      --color-background: var(--vt-c-white);
      --color-background-soft: var(--vt-c-white-soft);
      --color-background-mute: var(--vt-c-white-mute);
  
      --color-border: var(--vt-c-divider-light-2);
      --color-border-hover: var(--vt-c-divider-light-1);
  
      --color-heading: var(--vt-c-text-light-1);
      --color-text: var(--vt-c-text-light-1);
  
      --section-gap: 160px;
      --section-padding: 16px;
      --border-radius: 8px;
      --layout-max-width: 1300px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);
  
      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);
      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
    }
  }